<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="help-mapper">

<resultMap id="reuslthelp" type="HelpAndFAQ">
      <result column="QNANO" property="qnaNo"/>
      <result column="USERNO" property="userNo"/>
      <result column="QTITLE" property="qTitle"/>
      <result column="QCONTENT" property="qContent"/>
      <result column="QDATE" property="qDate"/>
      <result column="QCHECK" property="qCheck"/>
      <result column="USERID" property="userId"/>
</resultMap>

	<insert id="insertFAQ" parameterType="HelpAndFAQ">
		INSERT INTO QNA
		VALUES(SEQ_QNA.NEXTVAL, 
				#{userNo},
		       #{qTitle}, 
		       #{qContent},
		       DEFAULT, DEFAULT)
	</insert>
	
	<select id="faqList" resultMap="reuslthelp">
	SELECT M.USERID,Q.*, (SELECT COUNT(*) 
             FROM GATTACHMENT 
             WHERE Q.QNANO = QNANO) FILECOUNT 
		FROM QNA Q
		JOIN MEMBER M ON (M.USERNO=Q.USERNO)
		ORDER BY QDATE DESC
	</select>
	
	<select id="selectHelp" parameterType="_int" resultType="HelpAndFAQ">
	SELECT * FROM QNA WHERE QNANO = #{qnaNo}
	</select>

	<update id="updateHelp" parameterType="HelpAndFAQ">
	UPDATE QNA
	SET QTITLE = #{qTitle},
		QCONTENT = #{qContent}
		WHERE QNANO = #{qnaNo}
	</update>
	
	<delete id="deleteHelp" parameterType="_int" >
		DELETE FROM QNA WHERE QNANO = #{qnaNo}
	</delete>
		
	<select id="selectTotalContents" resultType="_int">
		SELECT COUNT(*) FROM QNA
	</select>	
		
		
	<insert id="insertqComment" parameterType="Comment">
	INSERT INTO QUESTION_CO
	VALUES(SEQ_QCNO.NEXTVAL, 
		   #{qnaNo},
		   #{userNo}, 
		   #{qcContent},
		     DEFAULT,
		      DEFAULT)
	</insert>
	
	<select id="selectqComments" parameterType="_int" resultType="Comment">
	SELECT
    CNO, QCCONTENT, USERNO, QCDATE
    	 FROM QUESTION_CO
    	WHERE QNANO = #{qnaNo} AND QSTATUS = 'N'
	</select>
	
	<update id="updateqComment" parameterType="Comment">
		UPDATE QUESTION_CO SET QCCONTENT = #{qcContent} WHERE CNO= #{cNo}
	</update>
	
	<update id="deleteqComment" parameterType="int">
		UPDATE QUESTION_CO SET QSTATUS = 'Y' WHERE CNO = #{cNo}
	</update>
	
</mapper>










