<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage-mapper">


 <!-- 주문내역 --> 
   <select id="selectMyOrderList" parameterType="int" resultType="myPage">
   SELECT GO.USERNO, GO.ODATE, GO.ORDERNO, G.GNAME, G.GPRICE, OC.ORDERCHK 
   FROM GORDER GO, GOODS G, ORDER_CHECK OC, MEMBER M, ORDERGOODS OG
   WHERE GO.USERNO = M.USERNO
   AND GO.ORDERCHKNO = OC.ORDERCHKNO
   AND OG.GOODSNO = G.GOODSNO
   AND GO.USERNO = #{userNo}
   
   </select>
   
  <!-- 주문내역조회 1개월 -->
    <select id="select1MOrderList" parameterType="int" resultType="myPage">
   SELECT GO.USERNO, GO.ODATE, GO.ORDERNO, G.GNAME, G.GPRICE, OC.ORDERCHK 
   FROM GORDER GO, GOODS G, ORDER_CHECK OC, MEMBER M, ORDERGOODS OG
   WHERE GO.USERNO = M.USERNO
   AND GO.ORDERCHKNO = OC.ORDERCHKNO
   AND OG.GOODSNO = G.GOODSNO
   AND GO.USERNO = #{userNo}
	AND ODATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-1),'YYMMDD')
	AND TO_CHAR(SYSDATE,'YYMMDD')
   </select>
  
  <!-- 주문내역조회 3개월 -->
    <select id="select3MOrderList" parameterType="int" resultType="myPage">
   SELECT GO.USERNO, GO.ODATE, GO.ORDERNO, G.GNAME, G.GPRICE, OC.ORDERCHK 
   FROM GORDER GO, GOODS G, ORDER_CHECK OC, MEMBER M, ORDERGOODS OG
   WHERE GO.USERNO = M.USERNO
   AND GO.ORDERCHKNO = OC.ORDERCHKNO
   AND OG.GOODSNO = G.GOODSNO
   AND GO.USERNO = #{userNo}
	AND ODATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-3),'YYMMDD')
	AND TO_CHAR(SYSDATE,'YYMMDD')
   </select>
  
  <!-- 주문내역조회 6개월 -->
   <select id="select6MOrderList" parameterType="int" resultType="myPage">
   SELECT GO.USERNO, GO.ODATE, GO.ORDERNO, G.GNAME, G.GPRICE, OC.ORDERCHK 
   FROM GORDER GO, GOODS G, ORDER_CHECK OC, MEMBER M, ORDERGOODS OG
   WHERE GO.USERNO = M.USERNO
   AND GO.ORDERCHKNO = OC.ORDERCHKNO
   AND OG.GOODSNO = G.GOODSNO
   AND GO.USERNO = #{userNo}
	AND ODATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-6),'YYMMDD')
	AND TO_CHAR(SYSDATE,'YYMMDD')
   </select>
  
   <!-- 주문내역조회 회원조회 -->
   <select id="selectMySOrderList" parameterType="myPage" resultType="myPage">
   SELECT GO.USERNO, GO.ODATE, GO.ORDERNO, G.GNAME, G.GPRICE, OC.ORDERCHK 
   FROM GORDER GO, GOODS G, ORDER_CHECK OC, MEMBER M, ORDERGOODS OG
   WHERE GO.USERNO = M.USERNO
   AND GO.ORDERCHKNO = OC.ORDERCHKNO
   AND OG.GOODSNO = G.GOODSNO
   AND GO.USERNO = #{userNo}
	AND ODATE BETWEEN TO_DATE(#{startDate}, 'YYMMDD') AND TO_DATE(#{endDate},'YYMMDD')
   </select>  
  
  
  

   
</mapper>








