<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seller_statistics-mapper">
	
<!-- 마이페이지 최근 1년 월별 매출액 확인 쿼리 combochart-->
	<select id="sellSelectMonthRevenue" resultType="MonthRevenue" parameterType="int">
		SELECT SUBSTR(GO.ODATE,1,5) MON, SUM(G.GPRICE) TOTALCOST
		FROM GOODS G, MEMBER M, GORDER GO, ORDERGOODS OG
		WHERE M.USERNO = G.USERNO
		AND G.GOODSNO = OG.GOODSNO
		AND GO.ORDERNO = OG.ORDERNO
		AND G.GSOLDOUT = 'O'
		AND G.USERNO = #{userNo}
		<![CDATA[
		AND SYSDATE-GO.ODATE < 365
		]]>
		GROUP BY M.MARKETNAME, SUBSTR(GO.ODATE,1,5)
		ORDER BY MON
	</select>
	
<!--  쇼핑몰에서의 연령대별 한달 총 소비 금액 -->

<!-- 구매자 성비 조회 pie chart -->
	<select id="sellGenderRatio" resultType="GenderRatio" parameterType="int">
	SELECT 
    GENDER, COUNT(GENDER) CNT, ROUND( 
		RATIO_TO_REPORT(COUNT(GENDER)) OVER() * 100, 1) PCT
	FROM (SELECT * FROM GORDER O
	LEFT JOIN ORDERGOODS OG ON(O.ORDERNO = OG.ORDERNO)
	LEFT JOIN GOODS G ON(OG.GOODSNO = G.GOODSNO)
	LEFT JOIN MEMBER M ON(O.USERNO = M.USERNO)
	WHERE G.USERNO = #{userNo}
    AND G.GSOLDOUT = 'O')
	GROUP BY GENDER
	</select>

<!-- 마이페이지 총 매출액 확인 쿼리 이건 그냥 금액으로 보여주기-->
	<select id="sellSelectRevenue" resultType="SelectRevenue" parameterType="int">
	SELECT SUM(G.GPRICE) S, M.USERNAME 
	FROM GOODS G, MEMBER M 
	WHERE M.USERNO = G.USERNO
	AND G.GSTATUS = 'N' 
	AND G.GSOLDOUT = 'O'  
	AND G.USERNO = #{userNo}
	GROUP BY M.USERNAME
	</select>
	
</mapper>










